In [8]:
import pandas as pd
import time

In [10]:
# initialize a data frame
df = pd.DataFrame()
for i in range(1, 6):
    fname = './data/gxdc_gj2020122' + str(i) + '.csv'
    curdf = pd.read_csv(fname)
    df = pd.concat([df, curdf], ignore_index= True)

In [12]:
df.sample(10)

,BICYCLE_ID,LOCATING_TIME,LATITUDE,LONGITUDE
990445,73be26cf0beba0127a34259dffedfcee,2020/12/24 6:06:47,24.486197,118.110811
627503,f0b71dbda988b39923a1c66ea53abaca,2020/12/22 8:33:55,24.500540,118.120047
1837595,849bcebbf5813e4bdebe6b9fb065204f,2020/12/25 7:51:10,24.520025,118.116469
408038,d7186eb4bd22656d429ee8cb1c2834a7,2020/12/22 8:24:08,24.485566,118.112951
90347,bb42f356bc66c3532df3a9e4c2d0d478,2020/12/21 9:12:35,24.491857,118.123704
1786662,c08e0d9966490f1bb889b6774ce0ee82,2020/12/25 7:37:24,24.512253,118.118354
246907,f308d1c2979f502a95004bd7a81cf49f,2020/12/21 9:54:08,24.500589,118.124444
628529,8729073e04ad6941702cc69da70b77c1,2020/12/22 9:08:13,24.499983,118.118589
1270329,809502edcde82ec81a0315cf87276d96,2020/12/24 8:39:05,24.501178,118.121683
1528213,e6ad0d94f831bdabcf2bc3626fba301c,2020/12/25 9:11:52,24.490428,118.134692

In [14]:
df.shape

(1839868, 4)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1839868 entries, 0 to 1839867
Data columns (total 4 columns):
 #   Column         Dtype
---  ------         -----
 0   BICYCLE_ID     object
 1   LOCATING_TIME  object
 2   LATITUDE       float64
 3   LONGITUDE      float64
dtypes: float64(2), object(2)
memory usage: 56.1+ MB

In [17]:
df.describe()

           LATITUDE     LONGITUDE
count  1.839868e+06  1.839868e+06
mean   2.449922e+01  1.181214e+02
std    9.488904e-03  8.241933e-03
min    2.448215e+01  1.181026e+02
25%    2.449213e+01  1.181153e+02
50%    2.449699e+01  1.181212e+02
75%    2.450596e+01  1.181272e+02
max    2.452017e+01  1.181405e+02

We only need the bicycle data between 7:00 am to 9:00 am, so we need to delete rows with hour >= 9 and hour < 7

That's see how many data are not useful

In [18]:
not_useful_rows = []
for i in range(len(df['LOCATING_TIME'])):
    t = df['LOCATING_TIME'][i]
    clock = t.split(' ')
    try:
        h, m, s = clock[1].split(':')
        h, m, s = int(h), int(m), int(s)
        if h >= 9 or h < 7:
            not_useful_rows.append(i)
    # if something rare found
    except:
        print(clock)
print('Data before 7:00 and after 9: 00: ' + str(len(not_useful_rows)))

Data before 7:00 and after 9: 00: 590142

Delete those rows

In [19]:
df = df.drop(not_useful_rows, axis = 0)
df.shape

(1249726, 4)

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1249726 entries, 0 to 1839867
Data columns (total 4 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   BICYCLE_ID     1249726 non-null  object
 1   LOCATING_TIME  1249726 non-null  object
 2   LATITUDE       1249726 non-null  float64
 3   LONGITUDE      1249726 non-null  float64
dtypes: float64(2), object(2)
memory usage: 47.7+ MB

In [21]:
bikes = df.groupby('BICYCLE_ID')

In [22]:
bikes.count()

                                  LOCATING_TIME  LATITUDE  LONGITUDE
BICYCLE_ID
000152773681a23a7f2d9af8e8902703             16        16         16
000245710f355aacddb89119a84941fc             24        24         24
0003834cd38de5e96046abc0fa2b65ea            184       184        184
00068ab20098fb2fc83ab4216b76c3a4              1         1          1
0007846b8611922b2934ff713650dde2             96        96         96
...                                         ...       ...        ...
ffed660e49a54fb1718a81349131f33f             63        63         63
ffedb3ea49fbf0fccdacd657da151efc              3         3          3
fffaa78cca7c79b28f9f549d47855445             27        27         27
fffaf6a2aac10d516f6026b2113a0d5f             24        24         24
fffd29e01d4964222d603735ce59f35e              6         6          6

[30452 rows x 3 columns]